@model PagedViewModel<Blog>;

@{
    ViewData["Title"] = "Blog";
}

@section css{
    <style>
        .pagination-div > ul {
            display: flex;
            list-style-type: none;
        }

        .pagination-div li.disabled > a, .pagination-div li.active > a {
            color: grey !important;
            cursor: default;
        }

        .pagination-div a {
            display: inline-block;
            border: 1px solid grey;
            border-radius: 5px;
            padding: 5px 15px;
            color: cadetblue !important;
        }
    </style>
}

@await Component.InvokeAsync("BlogBanner")

<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="pagination-div mb-5">
                @Model.GetPagenation(Url, "Index")
            </div>
            @foreach (Blog item in Model.Items)
            {
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg"
                             data-setbg="assets/images/blog/@item.ImagePath"></div>
                        <div class="blog__item__text">
                            <span>
                                <img src="img/icon/xcalendar.png.pagespeed.ic.GXy2gYWDh7.png"
                                     alt="" />
                                @item.CreatedDate.ToString("dd.MM.yyyy")
                            </span>
                            <h5>@item.Title</h5>
                            <div class="like-unlike-side">
                                <div class="like-side">
                                    <a href="#" class="like-btn">
                                        <i class="far fa-thumbs-up"></i>
                                    </a>
                                    <p class="like-count">0</p>
                                </div>
                                <div class="unlike-side">
                                    <a href="#" class="unlike-btn">
                                        <i class="far fa-thumbs-down"></i>
                                    </a>
                                    <p class="unlike-count">0</p>
                                </div>
                            </div>
                            <a asp-action="Index" asp-controller="BlogDetails" asp-route-id="@item.Id">Ətraflı</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section scripts{
    <script>
        let disabled = $('.pagination-div li.disabled > a');
        let active = $('.pagination-div li.active > a');

        $(disabled).click((e) => {
            e.preventDefault();
        });

        $(active).click((e) => {
            e.preventDefault();
        });
    </script>
}